# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]

# ======================
# Pytest
# ======================
.pytest_cache/

# ======================
# Packaging / build
# ======================
build/
dist/
*.egg-info/

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store

.hypothesis/